//css de componentes utilizados para reinicios de componentes
.mat-badge-medium .mat-badge-content {
    width: auto;
    height: auto;
    right: -50px;
    padding: 0 5px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
