<section class="sobremi" id="sobremi">
  <div class="max-width">
      <h2 class="title">Sobre mí</h2>
      <div class="sobremi-content">
          <figure class="column left">
              <img src="assets/img/sobreminew.png" alt="">
          </figure>
          <div class="column right">
              <div class="text">Yo soy Jose Maria<!--<span class="typing-2"></span>--></div>
              <p>Mi objetivo principal es <b>desarrollarme</b> profesionalmente y <b>evolucionar</b> en mi sector, de modo que busco <b>oportunidades</b> que me permitan hacerlo, al tiempo que trataré de alinearme completamente con los <b>objetivos</b> de la empresa. Como recién <b>graduado</b>, me encantaría poder entrar a formar parte de ella en la que poder aplicar todos mis <b>conocimientos</b> y, al mismo tiempo, que me permita desarrollarme profesionalmente.
              Como persona <b>organizada</b> y con una gran <b>motivación</b>, soy capaz de <b>adaptarme</b> a cualquier circunstancia y dar siempre lo mejor de mí en cualquier <b>proyecto</b>, al mismo tiempo que me esfuerzo por trabajar en <b>equipo</b> y fomentar valores como los del <b>compañerismo</b>.</p>
              <a href="#">Descargar CV</a>
          </div>
      </div>
  </div>
</section>
