.ver__detalhe {
    cursor: pointer;
}

.avatar-custom,
.avatar-custom-itens {
    @include flexbox;
    @include align-items(center);
}

.ver__detalhe {
    @extend .avatar-custom;
    @include justify-content(space-between);
    width: 100%;
    color: map-get($black, 1);
}

.busca__personagem {
    color: map-get($white, 1);
    text-align: center;
    font-size: 2rem!important;
    text-transform: uppercase;
    &:focus {
        background: transparent;
        color: map-get($white, 1)
    }
}

.buscar__titulo {
    width: 100%;
    text-align: center;
}

.personagem__busca__resultado {
    .collection {
        border: none;
    }
}

.bgBusca {
    background: url('#{$path-img}/bg-home.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    top: 0;
    left: 0;
}

.error__notification {
    @include flexbox;
    @include justify-content(space-between);
    @include padding(10px,
    10px);
    z-index: 99999;
    position: relative;
    width: 100%;
    background-color: map-get($black, 1);
    color: map-get($white, 1);
    .error__notification__close {
        cursor: pointer;
    }
    .error__notification__btn {
        @include padding(10px,
        10px)
    }
}

.d-none {
    display: none;
}