
<section class="qsomos" id="qsomos">
  <div class="max-width">
      <h2 class="title">Sobre nosotros</h2>
      <div class="qsomos-content">
          <figure class="column left">
              <img src="assets/img/camion4.jpg" alt="">
          </figure>
          <div class="column right">
              <div class="text">EXCAVACIONES GEMOTIR, S.L.L.<!--<span class="typing-2"></span>--></div>
              <p> Nace en marzo de 2.003 con la fusión de sus socios fundadores Pedro García y Francisco García (padre e hijo) que arrastrando una experiencia desde 1973 en trabajos de movimiento de tierras y obra civil, deciden juntarse para dar mejor servicio y calidad a las distintas administraciones así como también a las empresas de carácter privado.</p>
              <p>Durante estos años nos hemos ido adaptando a las exigencias del mercado remodelando nuestro parque de maquinaria, herramientas y dentro de este ímpetu de superación conseguimos implantar los siguientes sistemas de calidad y medioambiente.</p>
          </div>
      </div>
  </div>
</section>
