.card--marvel {
    @include margin(.7rem, .7rem);
    .card-title {
        min-height: 100px;
    }
}

.card--marvel-pic {
    @include flexbox;
    @include background-size(cover);
    width: 100%;
    min-height: 250px;
    background-position: center center;
}

.card-badge {
    @include flexbox;
    .card-badge-btn {
        @include border-radius(5px);
        @include padding(0, 7px);
        @include margin(0, 7px);
        color: map-get($white, 1);
        text-transform: capitalize;
    }
}

.btn-block {
    width: 100%;
}