<section class="maquinaria" id="maquinaria">
  <div class="max-width">
      <h2 class="title">Nuestras máquinas</h2>
      <div class="pres-content">
              <div class="box">
                    <img src="assets/img/excavadore.jpg" alt="">
              </div>
              <div class="box">
                  <img src="assets/img/tractor.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/excavadore2.jpg" alt="">
              </div>
              <div class="box">
                <img src="assets/img/tractor1.jpg" alt="">
              </div>
         </div>
      </div>
</section>
