// CARREGA TODAS AS FONTES DO PROJETO
@font-face {
    font-family: 'Avengeance';
    src: url('#{$path-font}/Avengeance.eot');
    src: url('#{$path-font}/Avengeance.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}/Avengeance.woff2') format('woff2'),
    url('#{$path-font}/Avengeance.woff') format('woff'),
    url('#{$path-font}/Avengeance.ttf') format('truetype'),
    url('#{$path-font}/Avengeance.svg#Avengeance') format('svg');
    font-weight: bold;
    font-style: normal;
}