<section id="busca__component" class="container">
    <div class="row">
        <!-- BUSCA DE PERSONAGEM -->
        <section class="personagem__busca">
            <div class="col s12">
                <h1 class="titulo-main buscar__titulo">Marvel &nbsp;&nbsp; Comics</h1>
                <form [formGroup]="formBusca">
                    <div class="input-field col s12">
                        <input type="text" class="busca__personagem" id="buscaPersonagem" placeholder="Search" formControlName="campoDeBusca" value="" />
                    </div>
                </form>
                <div *ngIf="errorMsg" id="errorMsg">
                    <div class="error__notification">
                        <div class="error__notification__msg">{{ errorMsg }}</div>
                        <div class="error__notification__close" (click)="toogle()"> <i class="tiny material-icons">close</i> </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<!-- CARDS DA RESPOSTA DA BUSCA -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m6 l4 xl3" *ngFor="let personagem of personagemResult">
                <div class="card card--marvel">
                    <div class="card-image waves-effect waves-block waves-light card--marvel-pic" [ngStyle]="{'background-image': 'url(' + personagem.thumbnail.path +'.'+ personagem.thumbnail.extension + ')'}"></div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                        {{ personagem.name }} <i class="material-icons right">more_vert</i>
                    </span>
                        <button [routerLink]="['detail/', personagem.id]" class="waves-effect btn-block waves-light btn">detalhes</button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"> {{ personagem.name }} <i class="material-icons right">close</i></span>
                        <p *ngIf="personagem.description === ''"> No description was found for this character </p>
                        <p>{{ personagem?.description }}</p>
                        <p>Número de série(s): {{ personagem.series.available }}</p>
                        <p>Quadrinhos: {{ personagem.comics.available }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
