
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/i-made-krisna-udiana-egw9Ffh3QMs-unsplash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <a routerLink="/secciones/qsomos" class="btn btn-lg btn-outline-light rounded-0"> CONOCER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/dominik-vanyi-Mk2ls9UBO2E-unsplash.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="qsomos" id="qsomos">
    <div class="max-width">
        <div class="qsomos-content">
            <figure class="column left">
                <img src="assets/img/camion.jpg" alt="">
            </figure>
            <div class="column right">
                <div class="text">Bienvenidos a EXCAVACIONES GEMOTIR, S.L.L.<!--<span class="typing-2"></span>--></div>
                <p>Bienvenido a la web de <b>EXCAVACIONES GEMOTIR, S.L.L.</b> empresa dedicada a trabajos de <b>movimiento de tierras</b> y <b>obra civil</b> en general. A través de nuestra web podrán encontrar información sobre las diferentes <b>áreas de actividad</b> de nuestra empresa.</p>
                <a id="9001" href="https://gemotir.com/certificados/9001.jpg">ISO 9001</a>
            </div>
        </div>
    </div>
  </section>
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/hablando.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <a routerLink="/secciones/qsomos" class="btn btn-lg btn-outline-light rounded-0"> CONOCER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/hablando2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="qsomos1" id="qsomos1">
    <div class="max-width">
        <div class="qsomos-content">
            <figure class="column left">
                <img src="assets/img/camion3.jpg" alt="">
            </figure>
            <div class="column right">
                <div class="text">Política de EXCAVACIONES GEMOTIR, S.L.L.<!--<span class="typing-2"></span>--></div>
                <p>En EXCAVACIONES GEMOTIR, S.L. entendemos que es necesaria la mejora continua de la calidad de las obras que ejecutamos y para ello establecemos nuestro Sistema de Gestión Integrado según las normas ISO 9001 y 14001, dando así la misma importancia tanto a la ejecución de las obras que desarrollamos como a la lucha por la prevención de la contaminación y por la prevención de riesgos laborales, tanto de nuestros trabajadores como de las subcontratas que trabajen con nosotros.</p>
                <a id="14001" href="https://gemotir.com/certificados/14001.jpg">ISO 14001</a>


            </div>
        </div>
    </div>
  </section>
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/hablando.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <a routerLink="/secciones/qsomos" class="btn btn-lg btn-outline-light rounded-0"> CONOCER MÁS</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/hablando2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section class="qsomos" id="qsomos">
    <div class="max-width">
        <div class="qsomos-content">
            <figure class="column left">
                <img src="assets/img/camion2.jpg" alt="">
            </figure>
            <div class="column right">
                <div class="text">Objetivos de EXCAVACIONES GEMOTIR, S.L.L.<!--<span class="typing-2"></span>--></div>
                <p>La meta que perseguimos mediante la implantación de estos sistemas es ser un referente por la especial atención que prestamos a nuestros clientes, dándoles un trato muy cercano pero primando siempre la profesionalidad de todos nuestros trabajadores así como conseguir el cumplimiento de los plazos de entrega de las obras ejecutadas, y todo ello, además con un exhaustivo control de los aspectos ambientales de nuestra organización (consumo de materias y generación de residuos, principalmente) y con especial atención al desempeño de la seguridad y salud de nuestros trabajadores.</p>
                <a href="https://gemotir.com/certificados/junta.pdf">Inscripción RERA</a>
            </div>
        </div>
    </div>
  </section>
  <!--<div class="container mt-5 mb-5">
    <div class="row align-items-center bg-dark">
          <div class="col-sm-6">
              <h1 class="text-center text-warning display-4">BIENVENIDOS</h1>
              <p class="text-white text-justify pt-3 p-4">Bienvenido a la web de EXCAVACIONES GEMOTIR, S.L.L. empresa dedicada a trabajos de movimiento de tierras y obra civil en general. A través de nuestra web podrán encontrar información sobre las diferentes áreas de actividad de nuestra empresa.</p>
          </div>
          <div class="col-sm-6">
              <div class="row">
                  <div class="col-12 pt-5 pb-5 bg-warning">
                      <h2 class="h1 pt-5">
                        Política de EXCAVACIONES GEMOTIR, S.L.L.</h2>
                      <p class="text-center pb-5">En EXCAVACIONES GEMOTIR, S.L. entendemos que es necesaria la mejora continua de la calidad de las obras que ejecutamos y para ello establecemos nuestro Sistema de Gestión Integrado según las normas ISO 9001 y 14001, dando así la misma importancia tanto a la ejecución de las obras que desarrollamos como a la lucha por la prevención de la contaminación y por la prevención de riesgos laborales, tanto de nuestros trabajadores como de las subcontratas que trabajen con nosotros.

                        La meta que perseguimos mediante la implantación de estos sistemas es ser un referente por la especial atención que prestamos a nuestros clientes, dándoles un trato muy cercano pero primando siempre la profesionalidad de todos nuestros trabajadores así como conseguir el cumplimiento de los plazos de entrega de las obras ejecutadas, y todo ello, además con un exhaustivo control de los aspectos ambientales de nuestra organización (consumo de materias y generación de residuos, principalmente) y con especial atención al desempeño de la seguridad y salud de nuestros trabajadores.

                         </p>
                  </div>
                  <div class="col-12 pt-5 pb-5 bg-gray text-white">
                      <h2 class="h2 pt-5">CONSTRUCCIÓN</h2>
                      <p class="text-center pb-5">Para cumplir con todo lo anterior, nos comprometemos al cumplimiento de los requisitos legales que nos apliquen así como cualquier otro requisito que nuestra organización suscriba. Además hacemos pública esta política para que la conozcan todos nuestros trabajadores así como cualquier otra persona que trabaje en nuestro nombre o para nosotros para que conozcan cuales son sus obligaciones en materia de calidad, medio ambiente y seguridad y salud.

                        Además para asegurar la eficacia de nuestro sistema de gestión integrado definimos objetivos e indicadores de proceso a los que les realizamos un seguimiento y medición y en función de cuyos resultados se revisa esta política para adecuarla a la realidad de nuestra organización.</p>
                  </div>
              </div>
          </div>
    </div>
  </div>

  AVISO LEGAL
  Presentación
  El presente aviso legal tiene por objeto poner a disposición de los consumidores y usuarios los datos generales del titular del portal www.gemotir.com, determinar la política de uso del presente website (entendiéndose por tal todas las páginas, pestañas y contenido) propiedad de “ Excavaciones Gemotir S.L.”, a las cuales se accede a través de la página web www.gemotir.com

  Datos de identificación
  El titular de la Página Web es “ Excavaciones Gemotir S.L” Polígono Industrial de Huércal-Overa fase 2, calle José Víudez Moya 5 y 6, 04600 Huércal-Overa Almería., con correo electrónico excavacionesgemotir@yahoo.es con CIF B 04441341


  Política de uso del website
  El acceso a este Página Web supone la aceptación expresa, por parte del consumidor, usuario y/o cliente de la totalidad de las condiciones generales y particulares del uso de www.gemotir.com, que, a tales efectos, se recogen en el presente documento.
  Mediante el acceso a la presente Página Web y la consecuente aceptación de las condiciones generales y particulares, el usuario se compromete expresamente, en virtud del presente documento, a utilizar y garantizar que utilizará la Página Web y todos cualesquiera de los servicios que se pudieran poner a su disposición a través del mismo de la forma y en las condiciones que respeten la legalidad vigente, así como la política de uso que se contiene en el mismo, respetándose, en cualquier caso, los deberes de actuación conforme a la buena fe y la actuación que, conforme a Derecho pudiera corresponder.


  Asimismo, el usuario no podrá, bajo ningún concepto utilizar o hacer uso de la Página Web y/o cualesquiera de los contenidos que se contengan en ella (o de las pestañas que están en la propia Página Web), ni de cualesquiera de los servicios que en el mismo se ofrecen, con fines ilícitos y/o contrarios a la normativa vigente; y/o las condiciones y términos de uso que se recogen en el presente documento de Condiciones Generales y Particulares; y/o los usos y costumbres que el imperativo de la buena fe entre las partes acostumbra en el seno de esta actividad comercial.


  Excavaciones Gemotir S.L. manifiesta expresamente que se reserva el derecho de poder modificar las condiciones generales y particulares en cualquier momento, informando a los usuarios y consumidores a través de esta Página Web al que tendrán acceso libremente y donde pueden y podrán comprobar los términos de uso del mismo.


  Responsabilidad del usuario del website
  El acceso a la presente Página Web, puede tener riesgos de seguridad propios de cualquier otra página web y, por tanto, el cliente y/o usuario asume la plena responsabilidad de cualesquiera riesgos pudieran derivarse del uso de la página web.
  En este sentido, “Excavaciones Gemotir S.L..” manifiesta que realizará los mejores esfuerzos para mantener y garantizar la seguridad de la página web www.gemotir.com pero no garantiza  la inexistencia de deficiencias en la página web , la infalibilidad de la  web y de su seguridad; que la información pueda estar libre de virus u otros elementos lesivos, así como errores o incorrecciones en la transmisión; la continuidad o disponibilidad de la página web y/o los servicios que se oferta y/o la transmisión de datos de la misma; la alteración de cualquier tipo que se pueda producir en el software o hardware de los usuarios o personas que visiten las páginas web.
  Como consecuencia de lo anterior, Excavaciones Gemotir S.L. declara y manifiesta que no responderá de los daños y perjuicios de cualquier naturaleza que pudieran derivarse de los anteriores hechos.
  -->
