<div class="social-footer">
  <a href="https://www.facebook.com/" class="facebook"><i class="fab fa-facebook-f"></i></a>
  <a href="https://www.twitter.com/" class="twitter"><i class="fab fa-twitter"></i></a>
  <a href="https://www.instagram.com/" class="instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://www.youtube.com/" class="youtube"><i class="fab fa-youtube"></i></a>
  <a href="https://es.linkedin.com/" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://mail.google.com/mail/" class="email"><i class="far fa-envelope"></i></a>
  </div>
<p><span class="far fa-copyright"></span> 2022 Copyright <a href="https://gemotir.com/aviso-legal.html">Excavaciones Gemotir</a> | Todos los derechos reservados</p>
<p class="small">Ctra. pulpí, km. 7 El Saltador 04600 Huércal-Overa Almería Telf./fax: 950 61 60 76 Móvil: 600 408 440 - 600 408 450</p>
