<section class="servicios" id="servicios">
  <div class="max-width">
      <h2 class="title">Mis servicios</h2>
      <div class="serv-content">
          <article class="card">
              <div class="box">
                  <i class="fas fa-paint-brush"></i>
                  <div class="text">Diseño Web</div>
                  <p>El Diseño Web es un área enfocada en el desarrollo de interfaces digitales, como el diseño de sitios y aplicaciones para web. Para ello, los diseñadores web crean las páginas utilizando lenguajes de marcado como HTML.</p>
              </div>
          </article>
          <article class="card">
              <div class="box">
                  <i class="fas fa-chart-line"></i>
                  <div class="text">Portfolio Digital</div>
                  <p>Un Portfolio Digital, también conocido como Portafolio electrónico o e-Portafolio, es una herramienta que recoge el conjunto de documentos, obras, presentaciones y demás con el objetivo de presentar el mejor trabajo de un individuo u organización, presentados en formato digital.</p>
              </div>
          </article>
          <article class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">Diseño de Aplicaciones</div>
                  <p>El Diseño de Apps consiste en desarrollar una aplicación para el uso en smartphones, con sistemas operativo Android y/o iOs. Va desde la conceptualización de la idea, al esbozo, los primeros diseños, la programación y el diseño final.</p>
              </div>
          </article>
         </div>
      </div>
</section>
