<header>
    <div id="up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav id="navbar">
        <div class="max-width">
            <div id="logo">
                <a href="#">Viudez <span>Studio</span></a>
            </div>
            <ul class="menu">
              <li><a routerLink="/secciones/sobremi" class="menu-btn">SOBRE MÍ</a></li>
              <li><a routerLink="/secciones/servicios" class="menu-btn">SERVICIOS</a></li>
              <li><a routerLink="/secciones/formacion" class="menu-btn">FORMACIÓN</a></li>
              <li><a routerLink="/secciones/contacto" class="menu-btn">CONTACTO</a></li>
              <li><a routerLink="/secciones/presupuesto" class="menu-btn">¡PIDE TU PRESUPUESTO!</a></li>
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>
