<section id="busca__component" class="container">
    <div class="row">
        <!-- BUSQUEDA DE PERSONAJES -->
        <section class="personagem__busca">
            <div class="col s12">
                <h1 class="titulo-main buscar__titulo">Marvel &nbsp;&nbsp; Comics</h1>
                <!--La entidad &nbsp; (del inglés Non Breaking Space que significa espacio sin ruptura) sirve para representar en HTML un espacio en blanco y se utiliza normalmente en dos casos: Cuando queremos que dos palabras no se separen al ajustar el texto al tamaño de la ventana, por ejemplo las dos palabras que forman una marca.-->
                <form [formGroup]="formBusca">
                    <div class="input-field col s12">
                        <input type="text" class="busca__personagem" id="buscaPersonagem" placeholder="Search" formControlName="campoDeBusca" value="" />
                    </div>
                </form>
                <div *ngIf="errorMsg" id="errorMsg">
                    <div class="error__notification">
                        <div class="error__notification__msg">{{ errorMsg }}</div>
                        <div class="error__notification__close" (click)="toogle()"> <i class="tiny material-icons">close</i> </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>

<!-- BUSCAR TARJETAS DE RESPUESTAS -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m6 l4 xl3" *ngFor="let personaje of personajeResult">
                <div class="card card--marvel">
                    <div class="card-image waves-effect waves-block waves-light card--marvel-pic" [ngStyle]="{'background-image': 'url(' + personaje.thumbnail.path +'.'+ personaje.thumbnail.extension + ')'}"></div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                        {{ personaje.name }} <i class="material-icons right">more_vert</i>
                    </span>
                        <button [routerLink]="['detail/', personaje.id]" class="waves-effect btn-block waves-light btn">detalles</button>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4"> {{ personaje.name }} <i class="material-icons right">close</i></span>
                        <p *ngIf="personaje.description === ''"> No description was found for this character </p>
                        <p>{{ personaje?.description }}</p>
                        <p>Número de serie(s): {{ personaje.series.available }}</p>
                        <p>Comics: {{ personaje.comics.available }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
