<section class="presupuesto" id="presupuesto">
  <div class="max-width">
      <h2 class="title">Mis presupuestos</h2>
      <div class="pres-content">
          <article class="card">
              <div class="box">
                  <i class="fas fa-paint-brush"></i>
                  <div class="text">BASIC WEB</div>
                    <p>Enfocada a pequeñas empresas que quieren dar un salto digital.
                      Obtén una página con la información más relevante.</p>

                      <h5>Una sola página.</h5>
                      <h5>Certificado de seguridad.</h5>
                      <h5>Correo corporativo.</h5>
                      <h3>150€</h3>
              </div>
          </article>
          <article class="card">
              <div class="box">
                  <i class="fas fa-chart-line"></i>
                  <div class="text">PROFESSIONAL WEB</div>
                  <p>Modalidad más recomendada.
                    Obten una página web con todo lo necesario para una empresa a un precio muy competitivo.</p>

                    <h5>Una página + 5 subpáginas.</h5>
                    <h5>Certificado de seguridad.</h5>
                    <h5>Correo corporativo.</h5>
                    <h5>Redes Sociales.</h5>
                    <h5>Dominio incluido.</h5>
                    <h3>300€</h3>
              </div>
          </article>
          <article class="card">
              <div class="box">
                  <i class="fas fa-code"></i>
                  <div class="text">PREMIUM WEB</div>
                    <p>Si deseas más subpáginas esta es tu modalidad.
                      ¡Obten una página creada a tu medida, sin que te falte nada!</p>

                      <h5>Páginas a elegir.</h5>
                      <h5>Certificado de seguridad.</h5>
                      <h5>Correo corporativo.</h5>
                      <h3>¡Consulta gratis!</h3>
              </div>
          </article>
         </div>
      </div>
</section>
