//reset materialize css
body {
    overflow-x: hidden;
}

.row {
    @include padding(15px, 0)
}

.titulo-main {
    font-family: "Avengeance";
    text-transform: uppercase;
}

.p-0 {
    padding: 0 !important;
}

.spinner__loading .black-overlay {
    position: fixed!important;
}